page-home {

    h2 {
        font-family: 'righteous';
        color: white;
        padding-top: 0;
    }

    ion-icon {
        font-size: 24pt;
        color: #4c4c4c;
    }

    ion-label {
        color: #555;
    }
}
