page-examination {

    ion-icon {
        font-size: 26pt;
        color: #6c6c6c;
    }

    ion-item {
        color: #6c6c6c;
    }

    button {
        font-size: 18pt;
        vertical-align: middle;
    }

    .card-content-md {
        padding: 0;
    }
}
