page-examination {

    ion-datetime {
        padding-left: 10px;
        color: #6c6c6c;
    }

    ion-label, ion-item, ion-input, ion-textarea, ion-select {
        color: #6c6c6c;
    }
    
    ion-icon {
        font-size: 24pt;
        color: #4c4c4c;
    }

    .button {
        font-size: 11pt;
        vertical-align: middle;
        text-transform: none;
    }

    .card-content-md {
        padding: 0;
    }

    .card-header {
        padding: 10px; 
        background-color: #94d0f5
    }

    .icon-light {
        color: black;
        font-size: 20pt;
        padding-left: 0;
    }

    .infraction-link {
        padding-top: 12px;
        padding-left: 15px;
    }

    .card-md {
        margin: 0;
        width: 100%;
    }

    .item-md {
        border-bottom: 1px solid #CCC; 
    }

    .alert-head {
        background-color: #94d0f5;
    }

    .header-badge {
        padding-left: 2px;
    }

    .table-cell {
        padding: 5px;
    }
}
